Exercício 03 – Manipulando dados com Pandas

a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e

b) coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

d) Visualize as últimas linhas;

e) Escreva um programa para renomear o cabeçalho da tabela com os

f) seguintes nomes:

In [35]:
# Importar a biblioteca

import pandas as pd

caminho = 'C:\\Users\\FIC\\Documents\\david_python\\'
arquivo = 'Vendas.xlsx'

# Atribuir os dados em dataframe

df = pd.read_excel(caminho + arquivo, sheet_name='Planilha1')

# Visualizar os cabeçalhos

df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

In [36]:
# d) Visualize as últimas linhas;

df.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

In [37]:
#Escreva um programa para renomear o cabeçalho da tabela. Utilizando o Columns

df.columns = ['Data', 'Vendedor', 'Cargo', 'Cliente', 'UF', 'Vendas']

In [38]:
# Quais são os tipos de dados que temos no dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Data      130466 non-null  datetime64[ns]
 1   Vendedor  130466 non-null  object
 2   Cargo     130466 non-null  object
 3   Cliente   130466 non-null  object
 4   UF        130466 non-null  object
 5   Vendas    130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB

In [43]:


df['Vendas'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
130461    False
130462    False
130463    False
130464    False
130465    False
Name: Vendas, Length: 130466, dtype: bool

In [53]:
#i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

print('A soma de vendas é: ',df['Vendas'].sum())

print('A média de vendas é: ', df['Vendas'].mean())

print('A venda mais alta foi de: ',df['Vendas'].max())

print('A venda mais baixa foi de: ', df['Vendas'].min())

print('O número de vendas é: ', df['Vendas'].count())

A soma de vendas é:  718501609.25
A média de vendas é:  5507.194282418408
A venda mais alta foi de:  10000.0
A venda mais baixa foi de:  1000.01
O número de vendas é:  130466

j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e
salvar um arquivo em csv para com o nome de cada cargo:
▪ Supervisor de Vendas Pl
▪ Gerente Regional Jr.
▪ Supervisor de Vendas Sr
▪ Coordenador de Vendas Pl.
▪ Vendedor Jr.
▪ Vendedor Sr.
▪ Vendedor Pl.
▪ Gerente Regional Pl.
▪ Coordenador de Vendas Sr.
▪ Coordenador de Vendas Jr.
▪ Supervisor de Vendas Jr.

In [63]:
dfsupvendaspl = df[df['Cargo'] =='Supervisor de Vendas Pl']

pasta_destino ='C:\\Users\\FIC\\Documents\\david_python\\Resultados Vendas\\'
nome_arquivo = "Supervisor de Vendas Pl.csv"

dfsupvendaspl.to_csv(pasta_destino + nome_arquivo)

In [64]:
dfgerenteregional = df[df['Cargo'] == 'Gerente Regional Jr.']

nome_arquivo = 'Gerente Regional Jr.csv'

dfgerenteregional.to_csv(pasta_destino + nome_arquivo)

In [67]:
dfsupervendassr = df[df['Cargo'] =='Supervisor de Vendas Sr']

nome_arquivo = 'Supervisor de Vendas Sr.csv'

dfsupervendassr.to_csv(pasta_destino + nome_arquivo)

In [69]:
dfcoordvendaspl = df[df['Cargo'] == 'Coordenador de Vendas Pl.']

nome_arquivo = 'Coordenador de Vendas Pl.csv'

dfcoordvendaspl.to_csv(pasta_destino + nome_arquivo)

In [71]:
dfvendjr = df[df['Cargo'] =='Vendedor Jr.']

nome_arquivo = 'Vendedor Jr.csv'

dfvendjr.to_csv(pasta_destino + nome_arquivo)

In [74]:
dfvendsr = df[df['Cargo'] == 'Vendedor Sr.']

nome_arquivo = 'Vendedor Sr.csv'

dfvendsr.to_csv(pasta_destino + nome_arquivo, encoding='ANSI')

In [75]:
dfvendpl = df[df['Cargo'] == 'Vendedor Pl.']

nome_arquivo = 'Vendedor pl.csv'

dfvendpl.to_csv(pasta_destino + nome_arquivo, encoding='ANSI')

In [77]:
dfgerentepl = df[df['Cargo'] == 'Gerente Regional Pl.']

nome_arquivo = 'Gerente Regional Pl.csv'

dfgerentepl.to_csv(pasta_destino + nome_arquivo, encoding='ANSI')

In [78]:
dfcoordvendassr = df[df['Cargo'] == 'Coordenador de Vendas Sr.']

nome_arquivo = 'Coordenador de Vendas Sr.csv'

dfcoordvendassr.to_csv(pasta_destino + nome_arquivo, encoding='ANSI')

9. Crie um dataframe para cada coluna, contendo dados únicos.

In [84]:
# Criar um dataframe apenas com a coluna Cargo

dados_cargos = df['Cargo']

# Contas quantos elementos existem antes de remover as duplicadas

dados_cargos.count()

# Criar um novo dataframe sem duplicadas

dados_cargos = dados_cargos.drop_duplicates()

# Contar quantos elementos ficaram após a remoção dos duplicados

dados_cargos.count()

dados_cargos

0        Supervisor de Vendas Pl
11          Gerente Regional Jr.
37       Supervisor de Vendas Sr
48     Coordenador de Vendas Pl.
98                  Vendedor Jr.
162                 Vendedor Sr.
174                 Vendedor Pl.
186         Gerente Regional Pl.
276    Coordenador de Vendas Sr.
285    Coordenador de Vendas Jr.
436     Supervisor de Vendas Jr.
Name: Cargo, dtype: object